*{
    margin: 0;padding: 0;
}

body {
    background-color: #333;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;


    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    position: relative;
}

img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}


h1{
    position:absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
    font-size: 4rem;
    color: #008602a9;
}